
public-html/OuterGame/shopIMGS/.DS_Store
public-html/InnerGame/Thumbs.db
public-html/InnerGame/res/sprites/Thumbs.db
public-html/OuterGame/planetStoryIMGS/Thumbs.db
public-html/OuterGame/res/panels/Thumbs.db
