#spacestation{
  display: none;
  width: 90%;
  height: 75%;
  background-color: black;
  position:absolute;
  top: 5%;
  left: 5%;
  z-index: 10;
  border-radius: 30px;
  background-image: url("../shopIMGS/background.png");
}

#items{
  float: left;
  font-size: 20px;
  margin-left: 3%;
  width: 45%;
  height: 80%;
  background-color: white;
  border-radius: 15%;
  background-image: url("../shopIMGS/shopBackground.png");
}

#info{
  float: right;
  font-size: 20px;
  margin-right: 3%;
  width: 45%;
  height: 80%;
  background-color: white;
  border-radius: 15%;
  background-image: url("../shopIMGS/infoBackground.png");
}

#exitButton{
  width:180px;
  height:45px;
  border: 2px black solid;
  border-radius: 15px;
  position: absolute;
  top: 2%;
  right: 2%;
  background-color: lightgreen;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  font-size: 20px;
  cursor: pointer;
}

.tile{
  width:85px;
  height: 85px;
  float: left;
  margin: 0px 10px 20px 30px;
  padding: 5px;
  background-color: lightblue;
  border-radius: 25%;
  cursor: pointer;
}

.tile:hover{
  background-color: blue;
}

.imgTile{
  width: 100%;
  height: 100%;
  border-radius: 25%;
}

#infoImg{
  width: 200px;
  height: 200px;
}

#infoName{
  font-size: 30px;
  margin-top: 10px;
  background-color: white;
  margin-bottom: 15px;
}

#infoButton{
  background-color: lightgreen;
  border-radius: 15%;
  width: 100px;
  height: 60px;
  font-size: 30px;
  font-family: monospace;
  box-shadow: 0 9px #999;
  outline: none;
  border: 2px black solid;
}

#infoButton:hover{
  background-color: green;
}

#infoButton:active{
  background-color: green;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#radioButtons{
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 20px;
}

.radio{
  margin-left: 20px;
  margin-right: 10px;
  cursor: pointer;
}

#collection{
  background-color: green;
  border: 1px black solid;
  position: absolute;
  bottom: -250px;
  width: 600px;
  height: 200px;
}

.collCats{
  width: 30%;
  height: 90%;
  background-color: lightgreen;
  float: left;
  margin: 10px 10px 10px 10px;
}

.collectionImg{
  width: 25%;
  height: 25%;
  margin-top: -15px;
  margin-bottom: 10px;
}

#creditsColl{
  position: absolute;
  bottom: -250px;
  right: 0px;
  width: 180px;
  height: 180px;
  background-color: lightblue;
  border: 10px blue solid;
}
