#spacestation{
  display: none;
  width: 90%;
  height: 75%;
  background-color: black;
  color: white;
  position:absolute;
  top: 10%;
  left: 5%;
  z-index: 10;
  border-radius: 30px;
  background-image: url("../shopIMGS/background.png");
}

#exitButton{
  width:180px;
  height:45px;
  position: absolute;
  top: 2%;
  right: 2%;
  font-size: 20px;
  cursor: pointer;
}

#moneyDiv{
  position: absolute;
  width: 100px;
  height: 50px;
  top: 20px;
  left: 150px;
  background-color: lightblue;
  color: black;
}

.menuButton{
  width: 120px;
  height: 80px;
  background-color: black;
  font-size: 30px;
  margin-left: 25%;
  margin-top: 10%;
  padding: 10px;
  color: white;
  float: left;
  cursor: pointer;
  border-radius: 20%;
}

.backButton{
  width: 60px;
  height: 30px;
  background-color: white;
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 20%;
  cursor: pointer;
  padding: 3px;
  color: black;
}

#radioButtons{
  position: absolute;
  top: 80px;
  left: 20px;
  cursor: pointer;
}

#radioButtons .radio {
    background-color: #4CAF50; /* Green */
    border: 1px solid green;
    color: white;
    padding: 20px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    width: 100px;
    display: block;
}

#radioButtons .radio:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}



.items{
  float: left;
  font-size: 20px;
  margin-left: 150px;
  margin-top: -20px;
  width: 350px;
  height: 450px;
  background-color: white;
  border-radius: 15%;
  background-image: url("../shopIMGS/shopBackground.png");
  border: 2px black solid;
}

#invItems{
  width: 430px;
  margin-left: 30px;
}

.info{
  float: right;
  font-size: 20px;
  margin-right: 50px;
  margin-top: -20px;
  width: 350px;
  height: 450px;
  background-color: white;
  color: black;
  border-radius: 15%;
  background-image: url("../shopIMGS/infoBackground.png");
}

#invInfo{
  width: 430px;
  margin-right: 20px;

}

.tile{
  width:75px;
  height: 75px;
  float: left;
  margin: 30px 5px 20px 20px;
  padding: 5px;
  background-color: lightblue;
  border-radius: 25%;
  cursor: pointer;
  border: 1px solid black;
}

.tile:hover{
  background-color: blue;
}

.imgTile{
  width: 100%;
  /* height: 100%; */
  border-radius: 25%;
}

#infoImg{
  /* width: 200px; */
  height: 200px;
}

#infoName{
  font-size: 30px;
  margin-top: 10px;
  background-color: white;
  margin-bottom: 15px;
}

#infoButton{
  background-color: lightgreen;
  border-radius: 15%;
  width: 100px;
  height: 60px;
  font-size: 30px;
  font-family: monospace;
  box-shadow: 0 9px #999;
  outline: none;
  border: 2px black solid;
}

#infoButton:hover{
  background-color: green;
  color: white;
}

#infoButton:active{
  background-color: green;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
