
body{
   background-color: #444444;
   margin:0;
}

canvas {
	cursor: none;
}

#wrapper {
  border: 0px solid black;
  margin: auto;
  text-align: center;
  padding: 20px;
  width: 1024px;
  height: 676px;
  position: relative;
}
